@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #79a9ff;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9885ff;
  border-radius: 20px;
}

